<div class="row">
    <div class="col-xs-12">
        <img [src]="detail.imagePath" alt="{{detail.name}}" class="img-respnsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{detail.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle"> 
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
               <li><a href="#">To Shoppong List</a></li> 
               <li><a href="#">Edit Recipe</a></li> 
               <li><a href="#">Delete Recipe</a></li> 
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Description: {{detail.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredients: {{detail ? detail.name : ""}}
    </div>
</div>